<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register a new user</h2>
<form method="post" action="/register/">
  {% csrf_token %}
  {{ form.as_p }}
  {% for e in errors %}
    <span class="login-error">{{e}}</span><br>
  {% endfor %}
  <button type="submit">Register</button>
</form>

<h2>Register a remote user</h2>
<form method="post" action="/register/">
  {% csrf_token %}
  {{ remote_form.as_p }}
  {% for e in errors %}
    <span class="login-error">{{e}}</span><br>
  {% endfor %}
  <button type="submit">Register</button>
</form>
{% endblock %}