<!-- templates/registration/login.html -->
{% load static %}
{% load frontend_extras %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <script src="https://kit.fontawesome.com/adfcecb43a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% with author_id=request.path|spliturl|index:2%}
        <h1>Social Distribution</h1>
        {% include './header.html' %}
        <hr class="item_separator">
        <div>
            {% for item in items %}
                {% include "./post.html" %}
                <hr class="item_separator">
            {% endfor %}
            {# using include and html instead of js file to allow passing vars from template #}
            {% include './button_script.html' %}
        </div>
        {% endwith %}
    </body>
</html>
