<!-- templates/registration/login.html -->
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <h1>Social Distribution</h1>
        <hr class="item_separator">
        <div>
            {% block post_form %}
            <h2>Make a Post</h2>
            <form method="post" action="post_submit/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form.as_p }}
                <button type="submit">Post</button>
            </form>
            <hr class="item_separator">
            {% endblock %}
            {% for item in items %}
                {% if item.type == "post" %}
                    {% include "./post.html" %}
                {% endif %}
                {% if item.type == "comment" %}
                    {% block comment_notif %}
                    <div class="inbox_block">
                        <p><a class="notif_link" href="{{ item.author.url }}">{{ item.author.displayName }}</a> commented on your <a class="notif_link" href="{{ item.id }}">post</a></p>
                    </div>
                    {% endblock %}
                {% endif %}
                {% if item.type == "Like" %}
                    {% block like %} {% endblock %}
                {% endif %}
                {% if item.type == "follow" %}
                    {% block follow %} {% endblock %}
                {% endif %}
                <hr class="item_separator">
            {% endfor %}
        </div>
    </body>
</html>
