<!-- templates/registration/login.html -->
{% load static %}
{% load frontend_extras %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <h1>Social Distribution</h1>
        <div class="header_links">
            <a href="{{ explore_url }}">Explore Posts</a>
            <br /> <br />
            <a href="{{ git_url }}">GitHub Activity</a>
            <br /> <br />
            <a href="{{ followers_url }}">Followers</a>
        </div>
        <hr class="item_separator">
        <div>
            {% with author_id=request.path|spliturl|index:2%}
            {% block post_form %}
            <h2>Make a Post</h2>
            <form method="post" action="post_submit/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form.as_p }}
                <button type="submit">Post</button>
            </form>
            <hr class="item_separator">
            {% endblock %}
            <script src="https://kit.fontawesome.com/adfcecb43a.js" crossorigin="anonymous"></script>
            {% for item in items %}
                {% if item.type == "post" %}
                    {% include "./post.html" %}
                {% endif %}
                {% if item.type == "comment" %}
                    {% block comment_notif %}
                    <div class="inbox_block">
                        <p><a class="notif_link" href="{{ item.author.url }}">{{ item.author.displayName }}</a> commented on your <a class="notif_link" href="{{ item.id }}">post</a></p>
                    </div>
                    {% endblock %}
                {% endif %}
                {% if item.type == "Like" %}
                    {% block like %} 
                    <div class="inbox_block">
                        <p><a class="notif_link" href="{{ item.author.url }}">{{ item.author.displayName }}</a> 
                            liked your <a class="notif_link" href="{{ item.object }}"> 
                            {{ item.object_type }}
                        </a></p>
                    </div>
                    {% endblock %}
                {% endif %}
                {% if item.type == "follow" %}
                    {% block follow %} {% endblock %}
                {% endif %}
                {% if not forloop.last %}
                    <hr class="item_separator">
                {% endif %}
            {% endfor %}
            <script>
                var repost_btns = document.querySelectorAll('.btn_repost');
                repost_btns.forEach(btn => {
                    btn.onclick = () => {
                        let id = btn.dataset.id;
                        let url = "{{request.scheme}}://{{request.get_host}}/authors/{{author_id}}/home/repost_submit/"+id+"/";
                        console.log(url);
                        fetch(url, {
                            method: 'POST',
                            headers: { "X-CSRFToken": '{{csrf_token}}' },
                        }).then(resp => {
                            console.log('repost', resp);
                            if (resp.status > 399) {
                                //some error
                            }
                        }).catch(err => {
                            console.error(err);
                        });
                    }
                })
                var cpy_btns = document.querySelectorAll('.btn_copy_embed');
                cpy_btns.forEach(btn => {
                    btn.onclick = () => {
                        var id = btn.dataset.url;
                        navigator.clipboard.writeText(id+"image/")
                    }
                });
                var edit_btns = document.querySelectorAll(".btn_edit_post");
                edit_btns.forEach(btn => {
                    btn.onclick = () => {
                        var modal = btn.parentElement.parentElement.querySelector(".edit-post-modal");
                        modal.style.display = 'block';
                    }
                });
                var modal_close_btns = document.querySelectorAll('.close');
                modal_close_btns.forEach(btn => {
                    btn.onclick = () => {
                        var modal = btn.parentElement.parentElement;
                        modal.style.display = 'none';
                    }
                });
                var delete_btns = document.querySelectorAll('.btn_delete_post');
                delete_btns.forEach(btn => {
                    btn.onclick = () => {
                        let id = btn.dataset.id;
                        let url = "{{request.scheme}}://{{request.get_host}}/authors/{{author_id}}/home/delete_post/"+id+"/";
                        fetch(url, {
                            method: 'DELETE',
                            headers: { "X-CSRFToken": '{{csrf_token}}' },
                        }).then(res=>{
                            if (res.status == 204) {
                                // hide deleted post
                                btn.parentElement.parentElement.style.display = 'none';
                                // hide separator
                                btn.parentElement.parentElement.nextElementSibling.style.display = 'none';
                            } else {
                                console.error(res);
                            }
                        }).catch(err => {
                            console.error(err);
                        })
                    }
                })
                var like_buttons = document.querySelectorAll('.like_post_button');
                like_buttons.forEach(btn => {
                    btn.onclick = () => {
                        let id = btn.dataset.id;
                        let url = "{{request.scheme}}://{{request.get_host}}/authors/{{author_id}}/home/like_post_submit/"+id+"/";
                        fetch(url, {
                            method: 'POST',
                            headers: { "X-CSRFToken": '{{csrf_token}}' },
                        }).then(res => {
                            if (res.status == 200) {
                                console.log('liked');
                            } else {
                                console.error(res);
                            }
                        }).catch(err=> {
                            console.error(err);
                        })
                    }
                })
            </script>
        {% endwith %}
        </div>
    </body>
</html>
