<!-- templates/registration/login.html -->
{% load static %}
{% load frontend_extras %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <script src="https://kit.fontawesome.com/adfcecb43a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% with author_id=request.path|spliturl|index:2%}
        <h1>Social Distribution</h1>
        {% include './header.html' %}
        <h2>Followers</h2>
        <hr class="item_separator">
        <div>
            {% for item in items %}
                <div class="inbox_block">
                    <div>
                        <a class='follow_list_item' href="/authors/{{author_id}}/profile/{{item.id|spliturl|index:2}}/">{{item.displayName}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endwith %}
    </body>
</html>