body {
    background: rgb(25, 25, 60);
    color:azure;
    width: 50%;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    font-family: monospace;
}

p {
    font-family: monospace;
}

.inbox_block {
    border: 1px solid magenta;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.notif_link {
    color: azure;
}

.post_headline {
    display: flex;
    width: 100%;
}

.post_headline .title {
    padding-left: 0;
    position: relative;
    width: 50%;
    border: 1px solid magenta;
    border-style: none none solid none;
}

.post_headline .author {
    margin-left:auto;
    margin-right: 0;
    font-family: monospace;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    height: 100%;
    width: 50%;
    text-align: right;
    color: magenta;
    display: flex;
}

.post_headline .author .author_link {
    height: 100%;
    flex-grow: 1;
    padding-right: 1em;
    width: 100%;
}

.post_headline .author .author_link a{
    text-align: right;
    display: inline-block;
    color: azure;
    
}
.post_headline .author .author_img {
    height: 100%;
    flex: auto;
    float: right;
}
.post_headline .author .author_img img{
    position: relative;
    height: 100%;
    width: 3em;
    border-radius: 15%;
    display: inline-block;
}
.post_description {
    border: 1px solid magenta;
    border-style: none none solid none;
    width: 60%;
}

.post_image{
    width: 100%;
    height: auto;
}

.post_content img {
    max-width: 100%;
    height: auto;
}

.item_separator {
    border: none;
    height: 3px;
    background: linear-gradient(0deg, magenta 0%, rgb(0, 225, 255) 70%);
}

.action_box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    white-space: nowrap;
    overflow: auto;
}
.action_box > * {
    flex: none;
}

.edit-post-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;  /* cover entire screen */
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* falback color*/
    background-color: rgba(0,0,0,0.4); /* black with opacity */
}

.modal-content {
    background-color:  rgb(25, 25, 60);
    margin: 5% auto;
    padding: 20px;
    width: 30%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.comment {
    border: 1px solid rgb(0, 225, 255);
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2.5%;
}

.comment a{
    color:azure;
}

.like_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}

.header_links a{
    color: azure;
    font-family: monospace;
    font-size: 1.17em;

}