#profileImage { 
    float: left; 
    border-radius: 50%; 
    margin: 5%; 
    height: 200px; 
    width: 200px;
}
#profileInfo {
    margin: 7%; 
    font-size: 125%;
}
.identifier {
    font-weight: 900; 
    margin-top: 3%; 
    margin-left: 5%;
}
#updateProfile {
    font-family: monospace; 
    margin-bottom: 3%;
}
